/*
 * Home Page
 */

/* -- Intro Section --  */
.intro-section {
	position: relative;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.intro-section {
		position: relative;
		padding-top: var(--space-200);
	}
}
@media( min-width: 1480px ) {}

